#mainarea {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #fff;
	z-index: 10;
}
span#selectarea {
	position: absolute;
	background-color: rgba(10,10,10,0.3);
	border: 1px solid #424143;
	z-index: 100;
	cursor: move;
}
canvas#canvas {
	box-shadow: 0 0 14px rgba(0,0,0,.24),0 14px 28px rgba(0,0,0,.48);
	-moz-box-shadow: 0 0 14px rgba(0,0,0,.24),0 14px 28px rgba(0,0,0,.48);
	-webkit-box-shadow: 0 0 14px rgba(0,0,0,.24),0 14px 28px rgba(0,0,0,.48);
}
#crop-btn {
	margin-top: 10px;
	margin-left: 502px;
	padding: 15px 30px;
	background: #28a6d0;
	color: #fff;
	border: none;
	font-weight: bold;
}
#done-btn {
	margin-top: 10px;
	margin-left: 502px;
	padding: 5px 10px;
	background: #28a6d0;
	color: #fff;
	font-weight: bold;
}