.innerTB{
    font-weight: bold;
    color: #28a6d0;
}
.label.label-info.label-stroke {
    background: none;
    color: #4193d0;
    border: 1px solid #4193d0;
    display: inline-block;
    font-weight: bolder;
}
/*.btn-primary {
    color: #666 !important;
    background: #f9f9f9;
    background: -moz-linear-gradient(top, #f9f9f9 0%, #dcdcdc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#dcdcdc));
    background: -webkit-linear-gradient(top, #f9f9f9 0%,#dcdcdc 100%);
    background: -o-linear-gradient(top, #f9f9f9 0%,#dcdcdc 100%);
    background: -ms-linear-gradient(top, #f9f9f9 0%,#dcdcdc 100%);
    background: linear-gradient(to bottom, #f9f9f9 0%,#dcdcdc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#dcdcdc',GradientType=0 );
    border: 1px solid #bdbdbd;
}*/

/*.btn-group.open .btn-primary.dropdown-toggle, .btn-primary.disabled, .btn-primary[disabled], .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    background: #257ab3;
    border-color: #257ab3;
    color: #666;
    background: #f9f9f9;
    background: -moz-linear-gradient(top, #f9f9f9 0%, #dcdcdc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#dcdcdc));
    background: -webkit-linear-gradient(top, #f9f9f9 0%,#dcdcdc 100%);
    background: -o-linear-gradient(top, #f9f9f9 0%,#dcdcdc 100%);
    background: -ms-linear-gradient(top, #f9f9f9 0%,#dcdcdc 100%);
    background: linear-gradient(to bottom, #f9f9f9 0%,#dcdcdc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#dcdcdc',GradientType=0 );
    border: 1px solid #bdbdbd;
}*/
/*.btn-primary:hover{
    background: #257ab3;
    border-color: #257ab3;
    background: #41d2c6;  Old browsers 
    background: -moz-linear-gradient(top,  #41d2c6 0%, #04a699 100%);  FF3.6+ 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#41d2c6), color-stop(100%,#04a699));  Chrome,Safari4+ 
    background: -webkit-linear-gradient(top,  #41d2c6 0%,#04a699 100%);  Chrome10+,Safari5.1+ 
    background: -o-linear-gradient(top,  #41d2c6 0%,#04a699 100%);  Opera 11.10+ 
    background: -ms-linear-gradient(top,  #41d2c6 0%,#04a699 100%);  IE10+ 
    background: linear-gradient(to bottom,  #41d2c6 0%,#04a699 100%);  W3C 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41d2c6', endColorstr='#04a699',GradientType=0 );  IE6-9 
    color:#fff !important;
}*/

.label.label-danger.label-stroke {
    background: none;
    color: #cc3a3a;
    border: 1px solid #cc3a3a;
    display: inline-block;
}
.text-success{
    background: none;
    color: #5CB85C !important;
}
.text-danger{
    background: none;
    color: #cc3a3a !important;
}
.text-small {
    font-size: 12px;
}
.text-medium {
    font-size: 30px;
    line-height: 30px;
}
a{
    cursor: pointer;
}
body{
    overflow: visible;
}
.form-control{
    border-radius: 0px;
}
.pad15{
    padding: 15px;
}
.checkbox-custom i {
    margin-left: -20px;
    margin-right: 5px;
    width: 17px;
    height: 20px;
    vertical-align: middle;
    font-size: 1.333em;
    color: #FFF;
    display: inline-block;
}
.facebook-bg{
    background: #3B579D;
}
.twitter-bg{
    background: #20B8FF;
}
.linkedin-bg{
    background: #007bb6;
}
.btn-primary.facebook-bg,
.btn-primary.twitter-bg,
.btn-primary.linkedin-bg{
    border: 0px;
}

.social-btn {
    min-width:150px;
    display: block;
    float: left;
}
.inline-block{
    display: inline-block;
}

.block{
    display: block;
}
.has-switch label {
    background-image: none !important;
    filter: none !important;
    background-color: #FFF !important;
    background-repeat: repeat !important;
    background-attachment: scroll !important;
    background-position: 0% 0% !important;
    background-clip: border-box !important;
    background-origin: padding-box !important;
    background-size: auto auto !important;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3) !important;
    border: medium none !important;
}
.has-switch span {
    background-image: none !important;
    filter: none !important;
}
.has-switch span.switch-primary {
    /*background: none repeat scroll 0% 0% #3695D5 !important; */
    color: #959595 !important;
    background: #f9f9f9;
    background: -moz-linear-gradient(top, #f9f9f9 0%, #dcdcdc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#dcdcdc)) !important;
    background: -webkit-linear-gradient(top, #f9f9f9 0%,#dcdcdc 100%) !important;
    background: -o-linear-gradient(top, #f9f9f9 0%,#dcdcdc 100%);
    background: -ms-linear-gradient(top, #f9f9f9 0%,#dcdcdc 100%);
    background: linear-gradient(to bottom, #f9f9f9 0%,#dcdcdc 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#dcdcdc',GradientType=0 );
    /* border: 1px solid #bdbdbd; */
}

.has-switch span.switch-success {
    background: #41d2c6; /* Old browsers */
    background: -moz-linear-gradient(top,  #41d2c6 0%, #28a6d0 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#41d2c6), color-stop(100%,#28a6d0)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #41d2c6 0%,#28a6d0 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #41d2c6 0%,#28a6d0 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #41d2c6 0%,#28a6d0 100%) !important; /* IE10+ */
    background: linear-gradient(to bottom,  #41d2c6 0%,#28a6d0 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41d2c6', endColorstr='#28a6d0',GradientType=0 ) !important; /* IE6-9 */
    color:#fff !important;
}


.has-switch span.switch-left {
    border-radius: 0px !important;
}
.has-switch {
    vertical-align: middle !important;
    border-color: #EAEAEA !important;
    border-radius: 0px !important;
}
.login .placeholder{    
    margin-bottom: 10px;
}
.border-none{
    border: 0px !important;
}
/*a{
    color:#04a699;
    text-decoration:none
}*/
a:focus{
    outline:none !important
}
a:hover{color:#333}
a:hover,
a:hover .text-underline
{
    text-decoration:none
}
.notyfy_container_top{
    z-index: 9999;
}
div.content ul li.current a{
    color: #FFFFFF;
}
.bg_gray
{    
    background: #eaeaea;
}
label, input, button, select, textarea {
    font-size: 11px;
}
.login .placeholder {
    font-size: 120px;
    color: #dfdfdf;
}
.border-bottom {
/*    border-bottom: 1px solid #e2e1e1 !important;*/
}
.border-top {
    border-top: 1px solid #e2e1e1 !important;
}
.border-left {
    border-left: 1px solid #e2e1e1 !important;
}
.border-right {
    border-right: 1px solid #e2e1e1 !important;
}
.login img{
    padding: 1px;
    border: 1px solid #efefef;
}
.innerAll {
    padding: 14px;
    position: relative;
}
.h300{
    height: 325px;  
    overflow-y: auto;
}
.send_inquiry_main input[type='submit'] {
    float: left;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    color: #fff;
    background: #237930;
    width:100%;
    padding: 6px 0px 6px 0px;
    border: none;
}
.send_inquiry_main input[type='submit']:hover {
    float: left;
    width:100%;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    color: #fff;
    background: #449548;
    padding: 6px 0px 6px 0px;
    border: none;
}
.yellowbtnmain input[type='submit'] {
    float:left;
    font-size:13px;
    font-weight:normal;
    color: #fff;
    background: #0a2b19;
    text-align: center;
    padding:5px 10px;
    border: none;
}
.yellowbtnmain input[type='submit']:hover {
    background: #53aa57;
    color:#fff;
    border: none;
}

.errorbox-position{
    z-index: 9999;
    width: 100%;
    right: 0px;
    position:absolute;
    /*    margin-left: 250px;*/
}
.notify {
    padding: 8px 35px 8px 36px;
    background:url(../../../public/assets/img/alert-notice-ico.png) no-repeat;
    background-position: 9px 50%;
    /*    margin-bottom: 18px;*/
    color: #c09853;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #f3d9a6;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.notify img {
    float: left;
    margin:-2px 6px 4px -4px;
}

.notify-heading {
    color: inherit;
}

.notify .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 18px;
}

.notify-success {
    color: #468847;
    background:url(../../../public/assets/img/alert-success-ico.png) no-repeat;
    background-position: 8px 50%;
    background-color: #e1eec9;
    border-color: #8fbe32;
}

.notify-danger,
.notify-error {
    color: #b94a48;
    background:url(../../../public/assets/img/alert-error-ico.png) no-repeat;
    background-position: 9px 50%;
    background-color: #fce6e9;
    border-color: #ed9aa3;
}

.notify-info {
    color: #3a87ad;
    background:url(../../../public/assets/img/alert-info-ico.png) no-repeat;
    background-position: 9px 50%;
    background-color: #d9edf7;
    border-color: #98cdd8;
}

.notify-block {
    padding-top: 14px;
    padding-bottom: 14px;
}

.notify-block > p,
.notify-block > ul {
    margin-bottom: 0;
}

.notify-block p + p {
    margin-top: 5px;
}

button.close {
    padding:0;
    margin:0;
    border:0;
    background:none;
    float:right;
}

.white_btn_a{
    width:50% !important;
    background:#fff !important;
    color:#000 !important;
    float:left;
    font-size:13px;
    border:0;
    padding:13px 0;
    outline:0;
    cursor:pointer;
    height:41px;
}


.white_btn_a:hover{width:50%;
                   background:#237930 !important;
                   color:#fff !important;
                   float:left;
                   font-size:13px;
                   border:0;
                   padding:13px 0;
                   outline:0;
                   cursor:pointer;
                   height:41px;

}

/*.modal{top:50%;left:50%;overflow:auto;width:560px;margin:-250px 0 0 -280px;background-color:#ffffff;border:1px solid #999;border:1px solid rgba(0, 0, 0, 0.3);*border:1px solid #999;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);-webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box;}.modal.fade{-webkit-transition:opacity .3s linear, top .3s ease-out;-moz-transition:opacity .3s linear, top .3s ease-out;-ms-transition:opacity .3s linear, top .3s ease-out;-o-transition:opacity .3s linear, top .3s ease-out;transition:opacity .3s linear, top .3s ease-out;top:-25%;
bottom: 60%;}
.modal.fade.in{top:50%;}*/
.modal .modal-header{
    position: relative;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
}
.modal .modal-body{
    position: relative;
}
.modal .modal-bottom{
    padding: 9px 15px;
    /*padding: 15px;*/
    border-top: 1px solid #eee;
    text-align: right;
}
.modal .modal-header h3 {
    line-height: 27px;
    font-size: 12px;
    text-align: left;
    color: #28a6d0;
}
.modal .modal-header .close {
    margin-top: 3px;
}

table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting {
    cursor: pointer;
    *cursor: hand;
}

table.dataTable thead .sorting {
    background: #3695d5 url("../images/sort_both.png") no-repeat center right;
    color: #FFFFFF;
}
table.dataTable thead .sorting_asc {
    background: #3695d5 url("../images/sort_asc.png") no-repeat center right;
    color: #FFFFFF;
}
table.dataTable thead .sorting_desc {
    background: #3695d5 url("../images/sort_desc.png") no-repeat center right;
    color: #FFFFFF;
}
table.dataTable thead .sorting_asc_disabled {
    background: #3695d5 url("../images/sort_asc_disabled.png") no-repeat center right;
    color: #FFFFFF;
}
table.dataTable thead .sorting_desc_disabled {
    background: #3695d5 url("../images/sort_desc_disabled.png") no-repeat center right;
    color: #FFFFFF;
}
.dataTables_scrollHead .table>thead>tr>th{
    border: 0px;
    vertical-align: middle;
}

.dataTables_scrollHead .table>thead>tr>th .checkbox-custom i.checked{
    color: #FFFFFF;
}

.dataTables_scrollHead .table>thead>tr>th .checkbox{
    margin-top: 10px;
}
.main-content .preloadercls{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #FFF;
    z-index: 1000000;
    opacity: 0.8;
    /*background: url('../images/gds_blue.png') no-repeat scroll 50% 50% #14171A;*/
}

/*.preloaderdivoutercls {
    opacity: 0.9;
    position: fixed;
    width: 100%;
    z-index: 99999;
    background-color: #000000;
    height: 100%;
}*/

.main-content .preloaderdivoutercls {
    /*    background-color: #d1d1d1;*/
    float: right;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    position: relative;
    z-index: 99999;
    color: #525252;
}

/*Wizard design */

.wizard .wizard-head{
    background:#fff;border:1px solid #e5e5e5;
    border-bottom: 0px;
}
.bwizard-steps .label{
    position:relative;top:-1px;margin:0 5px 0 0;padding:1px 5px 2px
}
.bwizard-steps .active .label{
    background-color:#333
}
.bwizard-steps{
    display:block;margin:0;padding:0;height:40px;list-style:none
}
.bwizard-steps li{
    display:block;float:left;position:relative;margin-right:5px;line-height:40px;height:40px;background:#fafafa
}
.bwizard-steps li a{
    display:block;height:40px;line-height:40px;padding:0 20px 0 38px;color:#7c7c7c;font-weight:600
}
.bwizard-steps li.active{color:#fff;background:#28a6d0; }
.bwizard-steps li.active:after{border-left-color:#28a6d0}
.bwizard-steps li.active a{color:#fff;cursor:default}
.bwizard-steps li:after{position:absolute;right:-20px;top:0;height:0;width:0;border-bottom:20px inset transparent;border-left:20px solid #fafafa;border-top:20px inset transparent;content:"";z-index:2}
.bwizard-steps li:before{position:absolute;left:0;top:0;height:0;width:0;border-bottom:20px inset transparent;border-left:20px solid #fff;border-top:20px inset transparent;content:""}
.bwizard-steps li:last-child{margin-right:0; }
.bwizard-steps li:first-child:before{border:none}
.bwizard-steps li:first-child a{padding-left:20px}
.bwizard-steps a:hover{text-decoration:none}
.bwizard-steps.clickable li:not(.active){cursor:pointer}
.bwizard-steps.clickable li:hover:not(.active){background:#ccc}
.bwizard-steps.clickable li:hover:not(.active):after{border-left-color:#ccc}
.bwizard-steps.clickable li:hover:not(.active) a{color:#08c}
@media (max-width:991px){
    .bwizard-steps{height:auto}
    .bwizard-steps li{float:none;margin:0;border-bottom:1px solid #e2e1e1}
    .bwizard-steps li:before,
    .bwizard-steps li:after{display:none}
    .bwizard-steps li a{padding:0 20px}
}

/* Select2 */
.select2-results ul.select2-result-sub{padding:0; }
.select2-container img.flag{height:13px;padding-right:10px;border:none;-webkit-border-radius:0 0 0 0;-moz-border-radius:0 0 0 0;border-radius:0 0 0 0}
.select2-container img.flag,
.select2-drop{z-index:99999}
.select2-drop img.flag{height:13px;padding-right:10px;max-width:100%;border:none;-webkit-border-radius:0 0 0 0;-moz-border-radius:0 0 0 0;border-radius:0 0 0 0}
.select2-container .select2-choice{background:#fff;border-color:#ccc;line-height:1.428571429;height:34px;padding:6px 12px;-webkit-border-radius:0 0 0 0;-moz-border-radius:0 0 0 0;border-radius:0 0 0 0}
.select2-container-multi .select2-choices{border-color: #efefef;
  /* background: #fff; */
  /* min-height: 34px; */
  width:100%;
  float: left;
  margin:0px 0px 0 0px;}
.select2-search-choice:hover {
    color: #3f729b;
}
.select2-container-multi .select2-choices .select2-search-choice{
    -webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;
    -webkit-border-radius:0 0 0 0;-moz-border-radius:0 0 0 0;border-radius:0 0 0 0; /*line-height:30px;*/
    overflow: hidden; width:auto; display:inline-block;}
.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close{top:5px; left:0px;}
.select2-container-multi .select2-choices .select2-search-field input{padding:6px}
.select2-results .select2-highlighted{background:#28a6d0;}
.select2-container .select2-choice div{border-color:#efefef;background:#fff;width:24px;-webkit-border-radius:0 0 0 0;-moz-border-radius:0 0 0 0;border-radius:0 0 0 0}
.select2-container .select2-choice div b{background-position:3px 5px}
.select2-drop{border-color:#efefef;box-shadow:none !important;-moz-box-shadow:none !important;-webkit-box-shadow:none !important}


.widget{border:1px solid #e2e1e1;box-shadow:0 3px 0 0 #dbdbdb;-moz-box-shadow:0 3px 0 0 #dbdbdb;-webkit-box-shadow:0 3px 0 0 #dbdbdb}
.widget .widget-head{background:#f7f7f7;border-bottom:1px solid #e2e1e1;text-shadow:0 1px 0 0 1px 0 #fff;height:35px;line-height:35px;position:relative;padding:0 14px 0 0;overflow:hidden}
.widget .widget-head.progress{-webkit-border-radius:0 0 0 0;-moz-border-radius:0 0 0 0;border-radius:0 0 0 0;margin:0;padding:0}
.widget .widget-head.height-auto{height:auto}
.widget .widget-head .heading{margin:0;font-size:14px;height:35px;line-height:35px;padding:0 14px;font-weight:700;float:left}
.widget .widget-head a{text-shadow:none}
.widget .widget-head .dropdown-menu li>a:hover,
.widget .widget-head .dropdown-menu li>a:focus,
.widget .widget-head .dropdown-submenu:hover>a{background-color:#3695d5;background-image:-moz-linear-gradient(top, #3695d5, #d24343);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#3695d5), to(#d24343));
                                               background-image:-webkit-linear-gradient(top, #3695d5, #d24343);background-image:-o-linear-gradient(top, #3695d5, #d24343);background-image:linear-gradient(to bottom, #3695d5, #d24343);
                                               background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffda4c4c', endColorstr='#ffd24343', GradientType=0)}

.widget .widget-body {
    padding: 14px;
}
.widget .tab-content{
    border: 0px;
/*	height:460px;*/
}
.myaccount .widget .tab-content{
    border: 1px solid #e2e1e1;
}
.myaccount .widget,.myaccount .widget-head,.myaccount .nav-tabs{
    border: 0px;    
}
.myaccount ul li a{
    padding: 6px 10px;
}
.myaccount .widget-body{
    padding: 0px;
} 
.wysihtml5-toolbar{
    height: 570px;
    overflow-y: auto;
}
ul.wysihtml5-toolbar {
    margin: 0;
    padding: 0;
    display: block;
}
ul.wysihtml5-toolbar > li {
    float: left;
    display: list-item;
    list-style: none;
    margin: 0 5px 10px 0;
}
.progress{
    border: 1px solid #eaeaea;
}
.separator {
    padding: 14px 0 3px 0;
    display: block;
}
.padding-none {
    padding: 0 !important;
}
.padding-top-none {
    padding-top: 0 !important;
}
.padding-right-none {
    padding-right: 0 !important;
}
.padding-bottom-none {
    padding-bottom: 0 !important;
}
.padding-left-none {
    padding-left: 0 !important;
}
/*.margin-none {
    margin: 0 !important;
}*/

.columndiv li{
    padding: 5px 15px;
    color: #525252;	
}
.columndiv li:hover{
    background-color: #eee;	
}
.columndiv li:hover{
    /*color: #f47521;*/
    color:#28a6d0;
}
#list .fa-pencil,
#list .fa-trash-o,
#list .fa-eye
{
    margin: 0px 7%;
}
#fieldtable .fa-pencil,
#fieldtable .fa-trash-o,
#fieldtable .fa-eye
{
    margin: 0px 7%;
}
.searchFilter input,
.searchFilter select{
    width: auto;
    height: 25px;
    margin: 0px;
    line-height: normal;
    font-size: 13px;
    padding: 0px 0px 0px 5px;
    color: black;
    display: block;
}

.table-primary thead th {
    /*border-color: #3695d5;
    background-color: #3695d5;
    color: #fff;*/
    font-size: 14px;
    color: #666 !important;
    background: #eee;	
}

label.checkbox-custom{
    font-size: 15px;
    margin-left: -2px;
}
.innerPage{
    width: 100%;
    float: left;
    padding: 0px 0px 25px 0px;
    margin-bottom:25px;   
} 
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert.alert-primary{background:#3695d5;color:#fff;border-color:#3695d5}.alert.alert-primary .close{color:#fff}
.img-responsive{ 
    width:100%;
}

.ui-search-oper a,
.ui-search-toolbar{
    display:none;
}

.listicon{
    font-size:16px;
}
.text-white{
    color: #FFF;
}
.ui-state-hover{
    cursor: pointer;        
}
p.has-error{
    padding:0px;
}
.datepicker-days td {
    cursor: pointer;
}
/*.toggled .input-group{
    display: inline-flex;
}*/
.float_none{
    float: none;
}
.bootstrap-timepicker-widget table td{
    padding: 0px;
}
.bootstrap-timepicker-widget table .separator{
    padding: 7px 0 3px 0;
}
.accountFigure .select2-choice span{
    font-size: 15px;
}
#labelappend .email{
    top:0px;
}
#gbox_list .ui-jqgrid-pager{
    border-right: 1px solid #d1d1d1 !important;
}
.login .form-actions {
    margin-top:10px;
}
.list_image{
    width: 100px !important;
    height: 100px !important;
    padding: 5px 0px !important;
    padding-right: 20px !important;
}

.ui-search-toolbar .ui-state-default.ui-th-column div{
    height: auto !important;
}
.sidebar .Icons{background: none}
.sidebar .animated i{font-size: 24px; color: #6e6e6e; top:9px;}
.sidebar a:hover .animated i{color: #28a6d0;}
.sidebar .current .animated i{color: #28a6d0;}

/*Wizard design */

.wizard .wizard-head{
    background:#fff;border:1px solid #e5e5e5;
    border-bottom: 0px;
}
.bwizard-steps .label{
    position:relative;top:-1px;margin:0 5px 0 0;padding:1px 5px 2px
}
.bwizard-steps .active .label{
    background-color:#333
}
.bwizard-steps{
    display:block;margin:0;padding:0;height:40px;list-style:none
}
.bwizard-steps li{
    display:block;float:left;position:relative;margin-right:5px;line-height:40px;height:40px;background:#fafafa
}
.bwizard-steps li a{
   display: block;
height: 40px;
line-height: 40px;
padding: 0 20px 0 36px;
color: #7c7c7c;
/* font-weight: 600; */
text-decoration: none;
text-transform: uppercase;
font-size: 10px;
font-weight: normal;
}
.bwizard-steps li.active{color:#fff;background:#28a6d0}
.bwizard-steps li.active:after{border-left-color:#28a6d0}
.bwizard-steps li.active a{color:#fff;cursor:default}
.bwizard-steps li:after{position:absolute;right:-20px;top:0;height:0;width:0;border-bottom:20px inset transparent;border-left:20px solid #fafafa;border-top:20px inset transparent;content:"";z-index:2}
.bwizard-steps li:before{position:absolute;left:0;top:0;height:0;width:0;border-bottom:20px inset transparent;border-left:20px solid #fff;border-top:20px inset transparent;content:""}
.bwizard-steps li:last-child{margin-right:0}
.bwizard-steps li:first-child:before{border:none}
.bwizard-steps li:first-child a{padding-left:20px}
.bwizard-steps a:hover{text-decoration:none}
.bwizard-steps.clickable li:not(.active){cursor:pointer}
.bwizard-steps.clickable li:hover:not(.active){background:#ccc}
.bwizard-steps.clickable li:hover:not(.active):after{border-left-color:#ccc}
.bwizard-steps.clickable li:hover:not(.active) a{color:#08c}
@media (max-width:991px){
    .bwizard-steps{height:auto}
    .bwizard-steps li{float:none;margin:0;border-bottom:1px solid #e2e1e1}
    .bwizard-steps li:before,
    .bwizard-steps li:after{display:none}
    .bwizard-steps li a{padding:0 20px}
}
.notify {
    padding: 8px 35px 8px 36px;
    background:url(../../../public/assets/img/alert-notice-ico.png) no-repeat;
    background-position: 9px 50%;
    /*    margin-bottom: 18px;*/
    color: #c09853;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #f3d9a6;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.notify img {
    float: left;
    margin:-2px 6px 4px -4px;
}

.notify-heading {
    color: inherit;
}

.notify .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 18px;
}

.notify-success {
    color: #468847;
    background:url(../../../public/assets/img/alert-success-ico.png) no-repeat;
    background-position: 8px 50%;
    background-color: #e1eec9;
    border-color: #8fbe32;
}

.notify-danger,
.notify-error {
    color: #b94a48;
    background:url(../../../public/assets/img/alert-error-ico.png) no-repeat;
    background-position: 9px 50%;
    background-color: #fce6e9;
    border-color: #ed9aa3;
}

.notify-info {
    color: #3a87ad;
    background:url(../../../public/assets/img/alert-info-ico.png) no-repeat;
    background-position: 9px 50%;
    background-color: #d9edf7;
    border-color: #98cdd8;
}

.notify-block {
    padding-top: 14px;
    padding-bottom: 14px;
}

.notify-block > p,
.notify-block > ul {
    margin-bottom: 0;
}

.notify-block p + p {
    margin-top: 5px;
}

button.close {
    padding:0;
    margin:0;
    border:0;
    background:none;
    float:right;
}
.timepicker{color:#777 !important;}
.form-group{ color: #777  !important;}
#ShiftTimingTable thead tr th {color:#777 !important;}
.inputblue {
    border: 1px solid #d1d1d1;
    padding: 5px 5px;
    margin-left: 15px;
    background: #fff;
}
.text-grey{
    background: none;
    color: #777 !important;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus{
    background: #41b0d5;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary{
    background-color: #41b0d5;
    border-color: #41b0d5;
}
.multiselectgrey>button{ background: #949494 !important;
                         border: 0px;
                         color: #777; }
#confirmmsg{
    text-transform: none;
    font-weight: normal;
    padding-left: 10px;
}
.posfixed{
    position:fixed; z-index:999; width:100%;
}

.posrel {position: relative;
         top: 70px;}

.grouplist .blue_sqr_inner{
    min-height: 50px;
}
.fb_left {
    float: left;
    font-size: 23px;
    width: 50px; 
    height: 43px !important;
    padding-top: 8px;
}
.page-nation .pager{
    display: block;
    width: 100%;
    float: left;

}
.page-nation .pagination > li:first-child > a, .page-nation .pagination > li:first-child > span {
    /*border-bottom-left-radius:15px !important;
    border-top-left-radius: 15px !important;*/
    margin-left: 0px;
text-transform: uppercase;
font-size: 12px;
}
.page-nation .pagination > li:last-child > a, .page-nation .pagination > li:last-child > span {
    margin-left: 0px;
    /*    border-bottom-right-radius:15px !important;
        border-top-right-radius: 15px !important;*/
}
.ajax-file-upload-statusbar{
    width:20% !important;
    float: left;
    margin: 10px 0px;
    padding: 0px;
}




/* Added by Ankit Patel */
.widget{
    width: 100%;
    float: left;
}
.select2-container.form-control{
    padding: 0px;
    height: auto;
}
.pad5{
    padding: 5px;
}
.word-wrap{
    word-wrap: break-word;
}
#loader {
    margin-top: 200px;
}
#map_wrapper {
    height: 400px;    
    position: fixed;
    top: 70px;
    width: 782px;
    height: 100%;
    margin-left: -16px;
}
#map_canvas {
    width: 100%;
    height: 100%;
}
.help-inline{
    color: #F00;
    height: 14px !important;
    display: block;
}
.capitalize{
    text-transform: none;
}
.error,
.has-error {
    color: #ff0000 !important;
}
.ui-autocomplete { width: 100%; text-align:left; }